@{
    ViewBag.Title = "All Fridges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<FridgeProject.Abstract.Data.Fridge>
<h2>All Fridges</h2>
<div>
    <button class="btn btn-outline-primary btn-sm font-weight-bold text-dark mr-4">
        @Html.ActionLink("Add New Fridge", "AddFridge")
    </button>

    <button class="btn btn-outline-primary btn-sm font-weight-bold text-dark">
        @Html.ActionLink("Update Fridges with Product without Product Quantity", "UpdateFridgesQuantity")
    </button>
</div>
<table class="table mt-3 text-center">
    <thead class="thead-light">
        <tr>
            <th width="250">
                Title
            </th>
            <th width="250">
                Owner Name
            </th>
            <th width="150">
                Model Title
            </th>
            <th width="150">
                Products in Fridge
            </th>
            <th width="250">Action</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-left">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FridgeModel.Title)
            </td>
            <td>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Product
                            </th>
                            <th class="text-center">
                                Quantity
                            </th>
                        </tr>
                    </thead>
                    @foreach (var fp in item.FridgeProducts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => fp.Product.Title)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => fp.Quantity)
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                

                <button class="btn btn-outline-primary btn-sm ">
                    @Html.ActionLink("Edit", "UpdateFridge", new { Id = item.Id }, new { @class = "font-weight-bold text-dark" })
                </button>   |

                <button class="btn btn-outline-primary btn-sm">
                    @Html.ActionLink("Details", "GetFridgeById", new { Id = item.Id }, new { @class = "font-weight-bold text-dark" })
                </button>   |

                <button class="btn btn-outline-danger btn-sm font-weight-bold text-dark" onclick="ConfirmModal('@item.Id')">
                    Delete
                </button>

            <td>

        </tr>
        
    }

</table>

<input type="hidden" id="selectedFridge" />

<div class="modal" tabindex="-1" role="dialog" id="deletingFridge">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deliting Fridge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>Are you shure ?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteFridge" class="btn btn-danger font-weight-bold text-dark" onclick=Delete()>
               Yes, Delete
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=Back()>Back</button>
            </div>
        </div>
    </div>
</div>

<script>
    var Back = function () {
        $('#deletingFridge').modal('hide');
    };

    var ConfirmModal = function (id) {
        $('#deletingFridge').modal('show');
        $('#selectedFridge').val(id);       
    };

    var Delete = function () {
        let id = $('#selectedFridge').val();
        window.location.href = ('/Fridge/Delete?Id=' + id );  
    };
    
</script>