@{
    ViewBag.Title = "Selected Fridge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FridgeProject.Abstract.Data.Fridge

<h2>Selected Fridge </h2>
<button class="btn btn-outline-primary btn-sm font-weight-bold text-dark">
    <a class="font-weight-bold text-dark" href="/Fridge/TakeAll"> Back to Fridges </a>
</button>
<table class="table mt-3 text-center ">
    <thead class="thead-light">
        <tr>
            <th>
                Title
            </th>
            <th>
                Owner Name
            </th>
            <th>
                Model Title
            </th>
            <th>
                Products in Fridge
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.FridgeModel.Title)
        </td>
        <td>
            <div class="form-group row" >
                <button class="btn btn-outline-primary btn-sm text-left mb-2 mr-2 ">
                    <a class="font-weight-bold text-dark" href="/Fridge/SelectProducts/@Model.Id"> Put Product </a>
                </button>
                <button class="btn btn-outline-primary btn-sm text-left mb-2 ml-2">
                    <a class="font-weight-bold text-dark" href="/Fridge/SelectExistedProducts/@Model.Id"> Take Product </a>
                </button>
            </div>
                <table class="table text-center mt-0">
                    <thead class="thead-light ">
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    @foreach (var fridgeProduct in Model.FridgeProducts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => fridgeProduct.Product.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => fridgeProduct.Quantity)
                            </td>
                            <td>
                                <button class="btn btn-outline-danger btn-sm font-weight-bold text-dark" onclick="ConfirmModalP('@fridgeProduct.Product.Id')">
                                    Delete
                                </button>
                            <td>
                        </tr>
                    }
                </table>
                <input type="hidden" id="selectedFridgeProduct" />
                <div class="modal" tabindex="-1" role="dialog" id="deletingFridgeProduct">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Deliting Fridge Product</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h3>Are you shure?</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnDeleteFridgeProduct" class="btn btn-danger font-weight-bold text-dark" onclick=DeleteP()>
                                    Yes, Delete
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=BackP()>Back</button>
                            </div>
                        </div>
                    </div>
                </div>
        </td>
        <td>
            <button class="btn btn-outline-primary btn-sm ">
                <a class="font-weight-bold text-dark" href="/Fridge/Update/@Model.Id"> Edit </a>
            </button>   |
            <button class="btn btn-outline-danger btn-sm font-weight-bold text-dark" onclick="ConfirmModalF('@Model.Id')">
                Delete
            </button>
        <td>
    </tr>
</table>
<input type="hidden" id="selectedFridge" />
<div class="modal" tabindex="-1" role="dialog" id="deletingFridge">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deliting Fridge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">           
                <h3>Are you shure?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteFridge" class="btn btn-danger font-weight-bold text-dark" onclick=DeleteF()>
                    Yes, Delete
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=BackF()>Back</button>
            </div>
        </div>
    </div>
</div>

<script>
    var BackF = function () {
        $('#deleteFridge').modal('hide');
    };
    var ConfirmModalF = function (pid,fid) {
        $('#deletingFridge').modal('show');
        $('#selectedFridge').val(pid,fid);
    };
    var DeleteF = function () {
        let id = $('#selectedFridge').val();
        window.location.href = ('/Fridge/Delete/' + id);
    };
    var BackP = function () {
        $('#deletingFridgeProduct').modal('hide');
    };
    var ConfirmModalP = function (id) {
        $('#deletingFridgeProduct').modal('show');
        $('#selectedFridgeProduct').val(id);
    };
    var DeleteP = function () {
        let id = $('#selectedFridgeProduct').val();
        window.location.href = ('/Fridge/DeleteProduct/' + id + '/' + '@Model.Id');
    };
</script>